* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
}
p {
    color: white;
}
.menu li {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
button {
    border: none;
    border-radius: 3pt;
    width: 250px;
    font-family: 'Noto Sans JP', sans-serif;
}
h1 {
    color: white;
}
#top-head-section h3 {
    color: black;
    padding-left: 5%;
}
body {
    width: 100%;
    background: url(.//Images/FinalBackground.jpg) center;
    font-family: 'Noto Sans JP', sans-serif;
}
header {
    width: 100%;
    height: 150px;
    background: url(.//Images/LastHeader.png);
    position: fixed;
}
