* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
}
p {
    color: white;
}
.menu li {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
button {
    border: none;
    border-radius: 3pt;
    width: 250px;
    font-family: 'Noto Sans JP', sans-serif;
}
h1 {
    color: white;
}
#top-head-section h3 {
    color: black;
    padding-left: 5%;
}
body {
    width: 100%;
    background: url(.//Images/FinalBackground.jpg) center;
    font-family: 'Noto Sans JP', sans-serif;
}
header {
    width: 100%;
    height: 150px;
    background: url(.//Images/LastHeader.png);
    position: fixed;
}

.line {
    border-bottom: 1px solid gray;
}
.mainHeader {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.menu {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    white-space: pre;
}
.menu a {
    margin-left: 2%;
}
.menu a:hover {
    color: yellow;
}
#for-menu {
    font-size: 9px;
    font-weight: lighter;
    letter-spacing: 2pt;
    font-family: 'Open Sans Condensed', sans-serif;
}


main {
    width: 100%;
}
.firstBlock {
    margin: 0 auto;
    width: 70%;
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
}
.blocks {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    justify-content: space-between;
    width: 410px;
    padding-bottom: 3%;
}
.leftFirstSide {
    padding-top: 6%;
}
.secondBlocks {
    text-align: right;
}
.buttons {
    width: 540px;
}
.first-btn-group {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 3pt;
}
.first-group {
    display: flex;
    flex-direction: row;
}
.first-btn-group p {
    text-align: right;
    width: 80px;
    white-space: pre-line;
}
.first-btn-group h1 {
    padding-left: 10%;
}
.second-btn-group {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
}
.pic {
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}
#btn-main {
    background: transparent;
    color: gray;
    width: 170px;
    height: 30px;
    border-radius: 3pt;
    border: 1px solid gray;
}
#block-text a {
    color: black;
    font-size: 13px;
}
.help-list {
    padding-left: 18%;
}
.help-list li {
    padding-top: 3%;
    padding-bottom: 3%;
}
#line-style {
    border-top: 1px solid gray;
}
.line-style-last {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}


.bottom-text {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 5%;
}
.bottom-text p {
    color: black;
    font-size: 13px;
}
.comment {
    width: 350px;
}
.comment p {
    font-family: 'Satisfy', cursive;
    font-size: 15px;
    padding-bottom: 3%;
}
.comment p2 {
    font-size: 13px;
    padding-left: 10%;
}
.about-text {
    width: 350px;
}
.bottom-text h3 {
    color: black;
    padding-bottom: 5%;
}


.thirdBlock {
    width: 100%;
    background: #FDFDFD;
    box-shadow: 0 5px 11px -2px gray inset;
}
.twitter {
   width: 70%;
   margin: 0 auto;
   display: flex;
   padding-top: 1%;
   padding-bottom: 1%;
}
.twitter p {
    color: black;
    font-size: 13px;
    padding-left: 2%;
}
.twitter p1 {
    font-size: 13px;
    color: gray;
    padding-left: 2%;
}


.last-section {
    width: 100%;
    border-bottom: 1px solid gray;
}
.fourthBlock{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
}
#fourth-block-text {
    color: white;
    font-size: 13px;
}
#last-block-list li{
    list-style: none;
    padding-top: 10%;
    font-size: 13px;
}
#last-block-list a {
    color: yellow;
}
.last-about {
    width: 210px;
    font-size: 13px;
}
.last-about p1 {
    color: gray;
}
.last-about p {
    padding-bottom: 6%;
}


footer {
    background: black;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 3%;
}
.footer-blocks {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-info p1,p2 {
    font-size: 10px;
    color: gray;
}
.footer-link a {
    color: yellow;
    font-size: 10px;
}
.footer-info {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    width: 700px;
}
.footer-first-block {
    display: inline-flex;
}
